API_VERSION = ''
PORT = 
DB_HOST = ''
DB_USERNAME = ''
DB_PASSWORD = ''
DB_DATABASE = ''
TOKEN_EXPIRE = 
TOKEN_SECRET = ''
BCRYPT_SALT = ''
AWS_BUCKET_NAME = ''
AWS_BUCKET_REGION = ''
AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
CLOUDFRONT_URL = ''
