<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/diary.css">
  <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script> -->
</head>
<body>
  <nav style="background-color: #4D555E;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 把div的 class="collapse navbar-collapse justify-content-md-end" 拿掉，就可以達到置右對齊了 -->
      <div id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/search.html">食物庫</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mine.html">我的食物</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="active" href="/profile.html"><img src="/icons/member-mobile.png"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="d-flex flex-nowrap mt-5 mb-5">
  <div class="flex-shrink-0 p-3 sidebar-custom" style="width: 13EM;">
    <div class="sidebar">
      <a href="/index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/profile.html"><i class="fa fa-fw fa-wrench"></i> Profile</a>
      <a href="/diary.html"><i class="fa fa-fw fa-user"></i> Diary</a>
      <a href="/footprint.html"><i class="fa fa-fw fa-envelope"></i> Footprint</a>
    </div>
  </div>
  
  <div style="border: 2px #4D555E solid; border-radius: 1em;" class="container col-lg-6 p-3">
    <div style="justify-content: center;" class="col-12 diary-head">
      <div style="justify-content: center;" class="center-box">
        <h4 class="text-secondary">飲食紀錄</h4>
      </div> 
      <div id="date_controls" class="center-box">
        <form>
          <button type="button" class="btn btn-outline-secondary btn-sm" id="previousDay">前一天</button>
        </form>
          <div id="showDate">
            <!-- <input type="text" id="datepicker"> -->
          </div>  
        <form>
          <button type="button" class="btn btn-outline-secondary btn-sm" id="followingDay">後一天</button>
        </form>
    </div>
  </div>
    <div class="container d-grid gap-3">
      <!-- <div class="col-12"></div> -->
      <!-- <div class="row gap-3"> -->
        <div style="justify-content: center;" class="input-group mb-4">
          <select class="custom-select col-3 text-secondary" id="inputGroupSelectMeal">
            <option selected>選餐</option>
            <option value="1">早餐</option>
            <option value="2">午餐</option>
            <option value="3">晚餐</option>
            <option value="4">點心</option>
          </select>
          <select class="custom-select col-lg-4 text-secondary" id="inputGroupSelectTarget">
            <option selected>選目標</option>
            <option value="calories">熱量(kcal)</option>
            <option value="carbs">碳水化合物(g)</option>
            <option value="protein">蛋白質(g)</option>
            <option value="fat">脂肪(g)</option>
          </select>
          <div class="input-group-append">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="inputTargetValue" placeholder="請輸入數字">
            <button class="btn btn-outline-secondary col-4" type="button" id="generateOneMeal">建立</button>
          </div>
        </div>
      <!-- </div> -->
      <div style="justify-content: center; align-items: baseline;" class="center-box gap-3">
        <div><h6 class="text-secondary">不知道要吃什麼嗎？點我✨</h6></div>
        <div><button class="btn btn-outline-secondary justify-content-md-end" type="button" id="generateDayMeals">一日菜單</button></div>
      </div>
    </div>
    <div class="container d-grid gap-3">

      <div class="card text-center">
        <div class="card-body">
          <div class="row card-body-title">
            <div class="col-4"><h4 class="text-secondary">早餐</h4></div>
            <div class="col-8">
            <ul class="nav nav-pills">
              <li class="nav-card-title">
                <p class="text-secondary">份數</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">熱量<br>kcal</br></p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">碳水化合物</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">蛋白質</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">脂肪</p>
              </li>
            </ul>
            </div>
          </div>
          <div class="row card-body-title" id="breakfastRecord">
            <!-- <div class="col-4 text-secondary card-body-text">漢堡</div>
            <div class="col-8">
              <ul class="nav nav-pills">
                <li class="nav-card-title">
                  <p class="text-secondary">1.0</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">350</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">80g</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">12g</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">8g</p>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="row" id="breakfastTotal"></div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <div class="row card-body-title">
            <div class="col-4"><h4 class="text-secondary">午餐</h4></div>
            <div class="col-8">
            <ul class="nav nav-pills">
              <li class="nav-card-title">
                <p class="text-secondary">份數</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">熱量<br>kcal</br></p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">碳水化合物</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">蛋白質</p>
              </li>
              <li class="nav-card-title">
                <p class="text-secondary">脂肪</p>
              </li>
            </ul>
            </div>
          </div>
            <div class="row card-body-title" id="lunchRecord">
            </div>
            <div class="row" id="lunchTotal">
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <div class="row card-body-title">
              <div class="col-4"><h4 class="text-secondary">晚餐</h4></div>
              <div class="col-8">
              <ul class="nav nav-pills">
                <li class="nav-card-title">
                  <p class="text-secondary">份數</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">熱量<br>kcal</br></p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">碳水化合物</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">蛋白質</p>
                </li>
                <li class="nav-card-title">
                  <p class="text-secondary">脂肪</p>
                </li>
              </ul>
              </div>
            </div>
              <div class="row card-body-title" id="dinnerRecord"></div>
              <div class="row" id="dinnerTotal"></div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <div class="row card-body-title">
                <div class="col-4"><h4 class="text-secondary">點心</h4></div>
                <div class="col-8">
                <ul class="nav nav-pills">
                  <li class="nav-card-title">
                    <p class="text-secondary">份數</p>
                  </li>
                  <li class="nav-card-title">
                    <p class="text-secondary">熱量<br>kcal</br></p>
                  </li>
                  <li class="nav-card-title">
                    <p class="text-secondary">碳水化合物</p>
                  </li>
                  <li class="nav-card-title">
                    <p class="text-secondary">蛋白質</p>
                  </li>
                  <li class="nav-card-title">
                    <p class="text-secondary">脂肪</p>
                  </li>
                </ul>
                </div>
              </div>
                <div class="row card-body-title" id="snackRecord"></div>
                <div class="row" id="snackTotal"></div>
              </div>
            </div>

            <div class="card text-center">
              <div class="card-body">
                <div class="row card-body-title">
                  <div class="col-4"><h4 class="text-secondary"></h4></div>
                  <div class="col-8">
                  <ul class="nav nav-pills">
                    <li class="nav-card-title">
                      <p class="text-secondary"></p>
                    </li>
                    <li class="nav-card-title">
                      <p class="text-secondary">熱量<br>kcal</br></p>
                    </li>
                    <li class="nav-card-title">
                      <p class="text-secondary">碳水化合物</p>
                    </li>
                    <li class="nav-card-title">
                      <p class="text-secondary">蛋白質</p>
                    </li>
                    <li class="nav-card-title">
                      <p class="text-secondary">脂肪</p>
                    </li>
                  </ul>
                  </div>
                </div>
                  <div class="row" id="dailyTotal">
                    <div class="col-4 text-secondary card-body-text">當日總計</div>
                      <div class="col-8">
                        <ul class="nav nav-pills">
                          <li class="nav-card-title"><p class="text-secondary"></p></li>
                          <li class="nav-card-title" id="dailyCaloriesTotal"></li>
                          <li class="nav-card-title" id="dailyCarbsTotal"></li>
                          <li class="nav-card-title" id="dailyProteinTotal"></li>
                          <li class="nav-card-title" id="dailyFatTotal"></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

      </div>
    </div>
  <div class="flex-shrink-0 p-3 sidebar-custom" style="width: 24EM;">
    <div class="sidebar">
      <!-- <div class="card-body"> -->
        <!-- <p>Pie Chart of nutrition</p> -->
        <div id="pieChart"  style="width:100%; height:500px;"></div>
      </div>
    </div>
  </div>
</main>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>BUFA FOOD</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>
<script>
  // $(function() {
  //   $( "#datepicker" ).datepicker();
  // });

  $("#generateOneMeal").click(async function(){
    let values = []
    const meal = $("#inputGroupSelectMeal").val()
    const target = $("#inputGroupSelectTarget").val()
    const targetValue = $("#inputTargetValue").val()
    let webUrl = window.location.search
    let splitUrl = webUrl.split('=')
    let date = splitUrl[1]
    const d = new Date()
    if (!date) {
      date = d.toISOString().split('T')[0]
    }
    if (!meal || meal === '選餐') {
      Swal.fire({
        icon: 'warning',
        title: '請選擇要建立於哪一餐‼️'
      })
      return
    } else if (!target) {
      Swal.fire({
        icon: 'warning',
        title: '請選擇要建立之目標‼️'
      })
      return
    } else if (isNaN(targetValue) || !targetValue) {
      Swal.fire({
        icon: 'warning',
        title: '請輸入有效之數字‼️'
      })
      return
    }
    values.push(parseInt(meal), target, parseInt(targetValue))
    console.log(values)
    /* 判斷選擇哪一餐&目標打api */
    const targetMeal = await axios.post(`http://${location.host}/api/1.0/food/single`, { meal: values[0], target: values[1], value: values[2], date })
    console.log('targetMeal', targetMeal)
    if (target === 'calories' && targetMeal.data.errorMessage){
      Swal.fire({
        icon: 'warning',
        text: '為求飲食均衡，一餐熱量不建議低於TDEE 10%喔！\b請重新輸入'
      })
      return
    } else {

      const recommendMeal = targetMeal.data.recommendMeal
      // console.log('recommendMeal', recommendMeal)

      let switchMeal
      switch (targetMeal.data.meal){
        case 1: {
          switchMeal = 'breakfast'
          break
        }
        case 2: {
          switchMeal = 'lunch'
          break
        }
        case 3: {
          switchMeal = 'dinner'
          break
        }
        case 4: {
          switchMeal = 'snack'
          break
        }
      }
      console.log('switchMeal', switchMeal)
      recommendMeal.map(food => $(`#${switchMeal}Record`).append += `<div class="col-4 text-secondary card-body-text">${food.name}</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary">${food.per_serving}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.calories)}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.carbs)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.protein)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.fat)}g</p></li></ul></div></div></div>`)
      window.location.href = `http://${location.host}/diary.html?date=${date}`
    }
  })
    
 
 $('#generateDayMeals').click(async function(){
    let webUrl = window.location.search
    let splitUrl = webUrl.split('=')
    let date = splitUrl[1]
    const d = new Date()
    if (!date) {
      date = d.toISOString().split('T')[0]
    }
    const getDailyRecord = await axios.get(`http://${location.host}/api/1.0/food/diary?date=${date}`)
    // console.log('getDailyRecord', getDailyRecord)
    if (getDailyRecord.data.mealRecords !== 0) {
      Swal.fire({
        icon: 'warning',
        text: '當日已有飲食紀錄，請使用上方列表選擇推薦單餐喔！'
      })
      return
    } else {
    const getMeal = await axios.post(`http://${location.host}/api/1.0/food/multiple`, {date: date})
    // console.log('getMeal', getMeal, 'date', date)
    window.location.href = `http://${location.host}/diary.html?date=${date}`
    }
  })

  let webUrl = window.location.search
  let splitUrl = webUrl.split('=')
  let date = splitUrl[1]
  const d = new Date()
  if (!date) {
    date = d.toISOString().split('T')[0]
  }
  getDiaryRecord(date)

  /* 往前按一天 */
  document.querySelector('#previousDay').addEventListener('click', function (changeDate) {
    let currenDate = document.querySelector('#currentDate').textContent
    let dateA = new Date(currenDate)
    let dateB = new Date(dateA - (1000 * 60 * 60 * 24))
    let previousDate = dateB.toISOString().split('T')[0]
    // console.log('dateB', dateB, 'previousDate', previousDate)
    let date = previousDate
    window.location.href = `http://${location.host}/diary.html?date=${date}`
  })
  
  /* 往後按一天 */
  document.querySelector('#followingDay').addEventListener('click', function (changeDate) {
    let currenDate = document.querySelector('#currentDate').textContent
    let dateA = new Date(currenDate)
    let dateB = new Date(dateA.getTime() + (1000 * 60 * 60 * 24))
    let followingDate = dateB.toISOString().split('T')[0]
    console.log('dateB', dateB, 'followingDate', followingDate)
    let date = followingDate
    window.location.href = `http://${location.host}/diary.html?date=${date}`
  })

  $('#generateOneMeal').click(function() {
    
    let currenDate = $('#currentDate').val()
    let dateA = new Date(currenDate)
    let dateB = dateA - (1000 * 60 * 60 * 24)
    console.log('dateB', dateB)
  })  
  // getDiaryRecord(date)
  // onclick="changeDate(this)"

  /* 取得飲食紀錄資訊 */
  const getDate = document.querySelector('#showDate')
  const getBreakfast = document.getElementById('breakfastRecord')
  const getLunch = document.getElementById('lunchRecord')
  const getDinner = document.getElementById('dinnerRecord')
  const getSnack = document.getElementById('snackRecord')
  async function getDiaryRecord(date) {
    const diaryRecord = await axios.get(`http://${location.host}/api/1.0/food/diary?date=${date}`)
    console.log('date', date);
    
    // let breakfastCaloriesTotal, lunchCaloriesTotal, dinnerCaloriesTotal, snackCaloriesTotal, breakfastCarbsTotal, lunchCarbsTotal, dinnerCarbsTotal, snackCarbsTotal, breakfastProteinTotal, lunchProteinTotal, dinnerProteinTotal, snackProteinTotal, breakfastFatTotal, lunchFatTotal, dinnerFatTotal, snackFatTotal

    getDate.innerHTML = `<span class="text-secondary" id="currentDate">${date}</span>`
    const breakfast = diaryRecord.data.mealRecords.filter(e => e.meal === 1)
    if (breakfast.length ===0) {
      getBreakfast.innerHTML = '<div class="col-12 text-secondary card-body-text"><p>今日還沒有早餐紀錄喔～</p></div>'
    } else {
      breakfast.map(food => getBreakfast.innerHTML += `<div class="col-4 text-secondary card-body-text">${food.name}</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary">${food.serving_amount}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.calories)}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.carbs)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.protein)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.fat)}g</p></li></ul></div></div></div>`
      )
      let breakfastCaloriesTotal = breakfast.reduce((acc, item) => {
        return acc + parseInt(item.calories)
      }, 0)
      let breakfastCarbsTotal = breakfast.reduce((acc, item) => {
        return acc + parseInt(item.carbs)
      }, 0)
      let breakfastProteinTotal = breakfast.reduce((acc, item) => {
        return acc + parseInt(item.protein)
      }, 0)
      let breakfastFatTotal = breakfast.reduce((acc, item) => {
        return acc + parseInt(item.fat)
      }, 0) 
      document.querySelector('#breakfastTotal').innerHTML += `<div class="col-4 text-secondary card-body-text">總計</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary"></p></li><li class="nav-card-title"><p class="text-secondary">${breakfastCaloriesTotal}</p></li><li class="nav-card-title"><p class="text-secondary">${breakfastCarbsTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${breakfastProteinTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${breakfastFatTotal}g</p></li></ul></div></div></div>`
    }

    const lunch = diaryRecord.data.mealRecords.filter(e => e.meal === 2)
    if (lunch.length ===0) {
      getLunch.innerHTML = '<div class="col-12 text-secondary card-body-text"><p>今日還沒有午餐紀錄喔～</p></div>'
    } else {
      lunch.map(food => getLunch.innerHTML += `<div class="col-4 text-secondary card-body-text">${food.name}</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary">${food.serving_amount}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.calories)}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.carbs)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.protein)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.fat)}g</p></li></ul></div></div></div>`
      )
      let lunchCaloriesTotal = lunch.reduce((acc, item) => {
        return acc + parseInt(item.calories)
      }, 0)
      let lunchCarbsTotal = lunch.reduce((acc, item) => {
        return acc + parseInt(item.carbs)
      }, 0)
      let lunchProteinTotal = lunch.reduce((acc, item) => {
        return acc + parseInt(item.protein)
      }, 0)
      let lunchFatTotal = lunch.reduce((acc, item) => {
        return acc + parseInt(item.fat)
      }, 0) 
      document.querySelector('#lunchTotal').innerHTML += `<div class="col-4 text-secondary card-body-text">總計</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary"></p></li><li class="nav-card-title"><p class="text-secondary">${lunchCaloriesTotal}</p></li><li class="nav-card-title"><p class="text-secondary">${lunchCarbsTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${lunchProteinTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${lunchFatTotal}g</p></li></ul></div></div></div>`
    }  
    const dinner = diaryRecord.data.mealRecords.filter(e => e.meal === 3)
    if (dinner.length ===0) {
      getDinner.innerHTML = '<div class="col-12 text-secondary card-body-text"><p>今日還沒有晚餐紀錄喔～</p></div>'
    } else {
      dinner.map(food => getDinner.innerHTML += `<div class="col-4 text-secondary card-body-text">${food.name}</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary">${food.serving_amount}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.calories)}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.carbs)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.protein)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.fat)}g</p></li></ul></div></div></div>`
      )
      let dinnerCaloriesTotal = dinner.reduce((acc, item) => {
        return acc + parseInt(item.calories)
      }, 0)
      let dinnerCarbsTotal = dinner.reduce((acc, item) => {
        return acc + parseInt(item.carbs)
      }, 0)
      let dinnerProteinTotal = dinner.reduce((acc, item) => {
        return acc + parseInt(item.protein)
      }, 0)
      let dinnerFatTotal = dinner.reduce((acc, item) => {
        return acc + parseInt(item.fat)
      }, 0) 
      document.querySelector('#dinnerTotal').innerHTML += `<div class="col-4 text-secondary card-body-text">總計</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary"></p></li><li class="nav-card-title"><p class="text-secondary">${dinnerCaloriesTotal}</p></li><li class="nav-card-title"><p class="text-secondary">${dinnerCarbsTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${dinnerProteinTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${dinnerFatTotal}g</p></li></ul></div></div></div>`
    } 

    const snack = diaryRecord.data.mealRecords.filter(e => e.meal === 4)
    if (snack.length ===0) {
      getSnack.innerHTML = '<div class="col-12 text-secondary card-body-text"><p>今日還沒有點心紀錄喔～</p></div>'
    } else {
      snack.map(food => getSnack.innerHTML += `<div class="col-4 text-secondary card-body-text">${food.name}</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary">${food.serving_amount}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.calories)}</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.carbs)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.protein)}g</p></li><li class="nav-card-title"><p class="text-secondary">${Math.round(food.fat)}g</p></li></ul></div></div></div>`
      )
      let snackCaloriesTotal = snack.reduce((acc, item) => {
        return acc + parseInt(item.calories)
      }, 0)
      let snackCarbsTotal = snack.reduce((acc, item) => {
        return acc + parseInt(item.carbs)
      }, 0)
      let snackProteinTotal = snack.reduce((acc, item) => {
        return acc + parseInt(item.protein)
      }, 0)
      let snackFatTotal = snack.reduce((acc, item) => {
        return acc + parseInt(item.fat)
      }, 0) 
      document.querySelector('#snackTotal').innerHTML += `<div class="col-4 text-secondary card-body-text">總計</div><div class="col-8"><ul class="nav nav-pills"><li class="nav-card-title"><p class="text-secondary"></p></li><li class="nav-card-title"><p class="text-secondary">${snackCaloriesTotal}</p></li><li class="nav-card-title"><p class="text-secondary">${snackCarbsTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${snackProteinTotal}g</p></li><li class="nav-card-title"><p class="text-secondary">${snackFatTotal}g</p></li></ul></div></div></div>`
    }

    // const dailyCaloriesTotal = breakfastCaloriesTotal + lunchCaloriesTotal + dinnerCaloriesTotal + snackCaloriesTotal
    // const dailyCarbsTotal = breakfastCarbsTotal + lunchCarbsTotal + dinnerCarbsTotal + snackCarbsTotal
    // const dailyProteinTotal = breakfastProteinTotal + lunchProteinTotal + dinnerProteinTotal + snackProteinTotal
    // const dailyFatTotal = breakfastFatTotal + lunchFatTotal + dinnerFatTotal + snackFatTotal

    document.querySelector('#dailyCaloriesTotal').innerHTML = `<p class="text-secondary">${diaryRecord.data.caloriesTotal}</p>`
    document.querySelector('#dailyCarbsTotal').innerHTML = `<p class="text-secondary">${diaryRecord.data.carbsTotal}g</p>`
    document.querySelector('#dailyProteinTotal').innerHTML = `<p class="text-secondary">${diaryRecord.data.proteinTotal}g</p>`
    document.querySelector('#dailyFatTotal').innerHTML = `<p class="text-secondary">${diaryRecord.data.fatTotal}g</p>`
    const carbsPercentage = diaryRecord.data.carbsTotal *4 /diaryRecord.data.caloriesTotal
    const proteinPercentage = diaryRecord.data.proteinTotal *4 /diaryRecord.data.caloriesTotal
    const fatPercentage = diaryRecord.data.fatTotal *9 /diaryRecord.data.caloriesTotal
    const pieData = [{
      values: [carbsPercentage, proteinPercentage, fatPercentage],
      labels: ['碳水化合物', '蛋白質', '脂肪'],
      type: 'pie',
      marker: {
        colors: ['#607D8B', '#9E9E9E', '#EF9A9A']
      }
    }]
    pie = document.querySelector('#pieChart')
    Plotly.newPlot(pie, pieData);
  }

</script>
<script src="/javascripts/diary.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
</body>
</html>
