<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>BUFA FOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">    
    <link href="/icons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://kit.fontawesome.com/9d89bb6e53.js" crossorigin="anonymous"></script>
</head>
<body>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #495464;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/bufafood_logo.png" class="brand-logo">  BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 把div的 class="collapse navbar-collapse justify-content-md-end" 拿掉，就可以達到置右對齊了 -->
      <div id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/search.html">食物庫</a>
          </li>
          <!-- <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mine.html">我的食物</a>
          </li> -->
          <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item" id="nav-profile-change">
            <a class="nav-link active" href="/login.html" id="profile-icon">登入</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="container-color d-flex flex-nowrap">
  <div class="container col-6 mt-5 mb-5 entry-div" style=" height: 500px;">
    <div style="justify-content: center;"><img src="/images/entry_gif.gif" class="entry-gif" /></div>
  </div>
  <div class="container col-6 mt-5 mb-5">
      <div class="mt-5 col-8">
        <h5 class="text-secondary mb-4" style="display:flex; justify-content:center">您體態管理的好夥伴✨</h5>
        <!-- <h5 class="text-secondary mt-3">Your diet-planner, life-saver!</h5> -->
        <div class="text-box-left-1 modal-show-transform">好餓喔！中午要吃什麼？</div>
        <div class="right-box">
          <div class="text-box-right-1" style="display: none;">完全沒想法😵‍💫</div>
        </div>
        <div class="text-box-left-2" style="display: none;">如果這時候有人能幫我們決定就好了🥺</div>
        <div class="right-box">
          <div class="text-box-right-2" style="display: none;">啊！不如交給不發福吧</div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-4 item">
                  <h3>關於我們</h3>
                  <ul>
                      <li><a target="_blank" href="https://school.appworks.tw/">從何發跡</a></li>
                      <li><a target="_blank" href="/privacy.html">隱私政策</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-4 item">
                  <h3>參考資料</h3>
                  <ul>
                      <li><a target="_blank" href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178&rand=1470733090">食品藥物管理署</a></li>
                      <li><a target="_blank" href="https://www.peeta.tw/">Peeta Fitness</a></li>
                  </ul>
              </div>
              <div class="col-md-4 item text">
                  <h3>進一步了解 BUFA FOOD</h3>
                  <a href="mailto:shin180555@gmail.com" class="link">聯絡信箱：shin180555@gmail.com</a>
              </div>
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<script>
  $(document).ready(()=>{
    setTimeout(()=>{
      $('.text-box-right-1').show()
    }, 1000)
    setTimeout(()=>{
      $('.text-box-left-2').show()
    }, 2000)
    setTimeout(()=>{
      $('.text-box-right-2').show()
    }, 3000)
  })
  const accessToken = window.localStorage.getItem('accessToken')
  if (accessToken) {
    $('#nav-profile-change').children().hide()
    $('#nav-profile-change').append('<a class="nav-link active" href="#" id="logout-btn">登出</a>')
  }
  $('#nav-profile-change').click(() => {
  localStorage.clear()
  window.location.href = '/'
})
</script>
<script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})</script>
</body>
</html>
