<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">    
    <link href="/icons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://kit.fontawesome.com/9d89bb6e53.js" crossorigin="anonymous"></script>
</head>
<body>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #495464;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html"><img src="/images/bufafood_logo.png" class="brand-logo">  BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 把div的 class="collapse navbar-collapse justify-content-md-end" 拿掉，就可以達到置右對齊了 -->
      <div id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/search.html">食物庫</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mine.html">我的食物</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="active" href="/profile.html"><img src="/icons/member-mobile.png"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="container-color d-flex flex-nowrap">
  <!-- <div class="flex-shrink-0 p-3 sidebar-custom" style="width: 13EM;">
    <div class="sidebar">
      <a href="/index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/profile.html"><i class="fa fa-fw fa-wrench"></i> Profile</a>
      <a href="/diary.html"><i class="fa fa-fw fa-user"></i> Diary</a>
      <a href="/footprint.html"><i class="fa fa-fw fa-envelope"></i> Footprint</a>
    </div>
  </div> -->
  <div class="container mt-5 mb-5 entry-div">
    <div style="justify-content: center;"><img src="/images/entry_gif.gif" class="entry-gif" /></div>
    <h5 class="text-secondary mt-3">Your diet-planner, life-saver!</h5>
  </div>
  <div class="container mt-5 mb-5">
    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-2 pt-xl-0 mt-xl-n5">
      <form style="width: 23rem;">
        <h4 class="text-secondary mb-4">Welcome Back✨</h4>
        
        <div class="form-outline mb-4">
          <label class="form-label text-secondary" for="email">Email address</label>
          <input type="email" id="email" class="form-control form-control-m" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label text-secondary" for="password">Password</label>
          <input type="password" id="password" class="form-control form-control-m" />
        </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-outline-secondary col-4" type="button" id="signinBtn">Sign in</button>
          <!-- <p class="small mb-2 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> -->
        </div>

        <!-- <a class="btn btn-primary btn-m btn-block mb-3" style="background-color: #3b5998" href="#!" role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
          </a> -->
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
          <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
      
          <div id="status" hidden></div>
        <p class="text-secondary">Don't have an account? <a class="link-info" id="signupHere" style="color: #7BB08A;">Register here</a></p>

      </form>
    </div>
  </div>
</main>
<div class="pop-background"></div>
<div class="pop-window">
  <div class="pop-content">
    <form style="width: 23rem;">

      <div class="form-outline mb-4">
        <label class="form-label" for="name">Name</label>
         <input required="required" type="text" id="name" class="form-control form-control-m" />
      </div>
      
      <div class="form-outline mb-4">
        <label class="form-label" for="register_email">Email address</label>
         <input required="required" type="email" id="register_email" class="form-control form-control-m" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="register_password">Password</label>
         <input required="required" type="password" id="register_password" class="form-control form-control-m" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="confirm_password">Confirm Password</label>
         <input required="required" type="password" id="confirm_password" class="form-control form-control-m" />
      </div>
    
    </form>
    <button style="display: blocked; margin: auto;" type="button" class="btn btn-outline-secondary col-4" id="signupBtn">註冊</button>
  </div>
</div>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>BUFA FOOD</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<script>

  /* 點選 register 時跳出的彈窗 */
  $('#signupHere').click(function(){
    $('.pop-background').fadeIn(100);
    $('.pop-window').fadeIn(100);
  })
  $('.pop-background').click(function(){
    $('.pop-background').fadeOut(200);
    $('.pop-window').fadeOut(200);
  })
 
  $('#signupBtn').click(async function(){
    const name = $('#name').val()
    const email = $('#register_email').val()
    const password = $('#register_password').val()
    console.log('info: ', name, email, password);

    const confirmPassword = $('#confirm_password').val()
    if (!name || !email || !password || !confirmPassword) {
      Swal.fire({
        icon: 'error',
        text: '請確認資訊皆填寫完整'
      })
    } else if (password !== confirmPassword) {
      Swal.fire({
        icon: 'error',
        text: '請再次確認密碼輸入正確'
      })
    } else {
    const data = await axios.post(`/api/1.0/user/signup`, { name, email, password })
    console.log('data: ', data);
    const userInfo = data.data.data
    if (data.data.error){
      Swal.fire({
        icon: 'error',
        text: '帳號格式錯誤或已被註冊'
      })
      return
    } else if (userInfo) {
      /* 註冊即登入 */
      const accessToken = userInfo.access_token
      window.localStorage.setItem('accessToken', accessToken)
      window.localStorage.setItem('userName', userInfo.user.name)
      window.localStorage.setItem('userId', userInfo.user.id)
      window.localStorage.setItem('userEmail', userInfo.user.email)
      Swal.fire({
      icon: 'success',
      title: '註冊成功',
      footer: `<a href="/target.html" class="text-secondary">前往填寫體態與設定目標💪🏼</a>`
      })
    }
  }
  })

    $(document).ready(function(){
    $('#signinBtn').click(async function(){
    const email = $('#email').val()
    // console.log('email: ', email);
    const password = $('#password').val()
    // console.log('password: ', password);
    if( email =='' || password ==''){
      Swal.fire({
      icon: 'error',
      text: '請輸入完整帳號密碼'
    })
    return 
    }
    try {
    const data = await axios.post(`/api/1.0/user/nativesignin`, { provider: 'native', email, password })
    console.log('data: ', data);
    const userInfo = data.data.data
    if(data.data.error){
        Swal.fire({
          icon: 'error',
          text: '帳號或密碼錯誤，請重新輸入'
        })
        return
    } else if(userInfo.access_token){
      const accessToken = userInfo.access_token
      // console.log('accessToken: ', accessToken);
      Swal.fire({
          icon: 'success',
          title: '登入成功'
        })
      /* 輸入正確資訊時產生jwt token，進入user diary page */
      window.localStorage.setItem('accessToken', accessToken)
      window.localStorage.setItem('userName', userInfo.user.name)
      window.localStorage.setItem('userId', userInfo.user.id)
      window.localStorage.setItem('userEmail', userInfo.user.email)
      const bodyInfo = await axios.get(`/api/1.0/user/profile`, { headers: {Authorization: `Bearer ${accessToken}`} })
      // console.log('bodyInfo: ', bodyInfo);
      if (!bodyInfo.data.data.TDEE) return window.location.href = `/target.html`
      return window.location.href = `/diary.html`
    }
    } catch (err) {
      console.error(err)
    }
  })
})

let accessToken;
  function statusChangeCallback(response) {
    // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response); // The current login status of the person.
    if (response.status === 'connected') {
      // Logged into your webpage and Facebook.
      testAPI();
      accessToken = response.authResponse.accessToken;
      axios({
      method: 'post',
      url: '/api/1.0/user/signin',
      data: {provider:"facebook", access_token: accessToken}
    });
    console.log('accessToken',accessToken);

    } else {
      // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML =
      'Please log ' + 'into this webpage.';
    }
  }

  function checkLoginState() {
    // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function (response) {
      // See the onlogin handler
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1510461219452107',
      cookie     : true,
      xfbml      : true,
      version    : 'v15.0'
    });

    FB.getLoginStatus(function (response) {
      // Called after the JS SDK has been initialized.
      if (response.status === 'connected') {
        // getFbUserData();
      }
      statusChangeCallback(response); // Returns the login status.
    });
  };

  function testAPI() {
    // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function (response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
<script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})</script>
</body>
</html>
