<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>BUFA FOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">    
    <link href="/icons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://kit.fontawesome.com/9d89bb6e53.js" crossorigin="anonymous"></script>
</head>
<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1510461219452107',
        cookie: true,
        xfbml: true,
        version: 'v15.0'
      })
    }
    async function statusChangeCallback(response) {
      // Called with the results from FB.getLoginStatus().
      // console.log('statusChangeCallback')
      // console.log(response) // The current login status of the person.
      if (response.status === 'connected') {
        // Logged into your webpage and Facebook.
        testAPI()
        const fbAccessToken = response.authResponse.accessToken
        const data = await axios({
          method: 'post',
          url: '/api/1.0/user/fbsignin',
          data: { provider: 'facebook', access_token: fbAccessToken }
        })
        // console.log('data: ', data);
        const userInfo = data.data.data
        const accessToken = userInfo.access_token
        /* 輸入正確資訊時產生jwt token，進入user diary page */
        window.localStorage.setItem('accessToken', accessToken)
        window.localStorage.setItem('userName', userInfo.user.name)
        window.localStorage.setItem('userId', userInfo.user.id)
        window.localStorage.setItem('userEmail', userInfo.user.email)
        const bodyInfo = await axios.get('/api/1.0/user/profile', { headers: { Authorization: `Bearer ${accessToken}` } })
        Swal.fire({
          icon: 'success',
          text: '登入成功'
        }).then((result) => {
          if (!bodyInfo.data.data.TDEE) return window.location.href = '/target.html'
          return window.location.href = '/diary.html'
        })
      } else {
        // Not logged into your webpage or we are unable to tell.
        document.getElementById('status').innerHTML =
          'Please log ' + 'into this webpage.'
      }
    }

    function checkLoginState() {
      // Called when a person is finished with the Login Button.
      FB.getLoginStatus(function (response) {
        // See the onlogin handler
        statusChangeCallback(response)
      })
    }

    function testAPI() {
      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
      // console.log('Welcome!  Fetching your information.... ')
      FB.api('/me', function (response) {
        // console.log('Successful login for: ' + response.name)
        document.getElementById('status').innerHTML =
          'Thanks for logging in, ' + response.name + '!'
      })
    }
  </script>
    
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #495464;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/bufafood_logo.png" class="brand-logo">  BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <main class="container-color d-flex flex-nowrap">
  <div class="container mt-5 mb-5">
    <div class="d-flex align-items-center px-5 ms-xl-4 pt-2 pt-xl-0 mt-xl-n5 form-container">
      <form style="width: 18rem;">        
        <h4 class="text-secondary mb-4">歡迎回來✨</h4>
        
        <div class="form-outline mb-4">
          <label class="form-label text-secondary" for="email">帳號</label>
          <input type="email" id="email" class="form-control form-control-m" value="bufafood@test.com" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label text-secondary" for="password">密碼</label>
          <input type="password" id="password" class="form-control form-control-m" value="test1234" />
        </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-outline-secondary col-12" type="button" id="signinBtn">登入</button>
          <p class="text-secondary mt-4">還沒有帳號? <a href="#" class="link-info" id="signupHere" style="color: #7BB08A;">按此創建</a></p>
        </div>

          <div scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-width="133px" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
      
          <div id="status" hidden></div>

      </form>
    </div>
  </div>
</main>
<div class="pop-background"></div>
<div class="pop-window">
  <div class="pop-content">
    <form style="width: 23rem;">
      <h4 class="text-secondary mb-4">加入會員🍀</h4>
      <div class="form-outline mb-4">
        <label class="form-label text-secondary" for="name">使用者暱稱</label>
         <input required="required" type="text" id="name" class="form-control form-control-m" onblur="checkUsername()"/>
      </div>
      
      <div class="form-outline mb-4">
        <label class="form-label text-secondary" for="register_email">帳號</label>
         <input required="required" type="email" id="register_email" class="form-control form-control-m" placeholder="請輸入E-mail"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label text-secondary" for="register_password">密碼</label>
         <input required="required" type="password" id="register_password" class="form-control form-control-m" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label text-secondary" for="confirm_password">再次確認密碼</label>
         <input required="required" type="password" id="confirm_password" class="form-control form-control-m" />
      </div>
    
    </form>
    <button style="display: blocked; margin: auto;" type="button" class="btn btn-outline-secondary col-4" id="signupBtn">註冊</button>
  </div>
</div>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-4 item">
                  <h3>關於我們</h3>
                  <ul>
                      <li><a target="_blank" href="https://school.appworks.tw/">從何發跡</a></li>
                      <li><a target="_blank" href="/privacy.html">隱私政策</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-4 item">
                  <h3>參考資料</h3>
                  <ul>
                      <li><a target="_blank" href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178&rand=1470733090">食品藥物管理署</a></li>
                      <li><a target="_blank" href="https://www.peeta.tw/">Peeta Fitness</a></li>
                  </ul>
              </div>
              <div class="col-md-4 item text">
                  <h3>進一步了解 BUFA FOOD</h3>
                  <a href="mailto:shin180555@gmail.com" class="link">聯絡信箱：shin180555@gmail.com</a>
              </div>
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

<script src="/javascripts/login.js"></script>
</body>
</html>
