<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>BUFA FOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="/icons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://kit.fontawesome.com/9d89bb6e53.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/validator@13.7.0/validator.min.js"></script>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #495464;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html"><img src="/images/bufafood_logo.png" class="brand-logo">  BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 把div的 class="collapse navbar-collapse justify-content-md-end" 拿掉，就可以達到置右對齊了 -->
      <div id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/search.html">食物庫</a>
          </li>
          <!-- <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mine.html">我的食物</a>
          </li> -->
          <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item" id="nav-profile-change">
            <a class="nav-link active" href="/login.html" id="profile-icon">登入</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="d-flex flex-nowrap container-color">
    <div class="flex-shrink-0 p-3 sidebar-custom sidebar-color" style="width: 13EM;">
      <div class="sidebar mt-3">
        <a href="/diary.html">飲食紀錄</a>
        <a href="/footprint.html">每週摘要</a>
        <a href="/mine.html">喜好清單</a>
        <a href="/profile.html">個人資訊</a>
      </div>
    </div>

    <section class="profile-container col-lg-9 p-3 mt-3">
      <div class="col-md-8">
        <div class="card-body p-4">
          <div class="section-title  align-middle">
            <h5 class="text-color">個人檔案</h5>
            <!-- <a id="edit-user-info"><p class="text-secondary">Edit</p></a> -->
            <i id="edit-user-info" class="fa-regular fa-pen-to-square"></i>
          </div>

          <hr class="mt-0 mb-4">
          <div class="row pt-1">
            <div class="col-5 mb-3">
             <div class="self-photo" id="self-photo">
             </div>
             <div style="display: flex; flex-direction:row; justify-content: flex-start;">
              <a id="edit_photo"><div class="mt-2 text-secondary" style="margin: 0 10px;">上傳照片</div></a>
              <div class="mt-2 text-secondary" style="margin: 0 10px;" id="delete_photo">刪除照片</div>
             </div>
             <div style="width: 180px; display: none;" class="mb-3 mt-3" id="upload_photo">
              <form name="form" id="form" enctype='multipart/form-data'>
                <input class="form-control form-control-sm" type="file" name="user_photo">
                <button type="button" class="mt-2 btn-sm btn-outline-secondary col-4" onclick="upload()">上傳</button>
              </form>
            </div>
             <!-- <button class="btn btn-outline-secondary col-3 mt-2" type="button" id="edit-user-info">編輯</button> -->
            </div>
            <div class="col-7 mb-3">
              <table>
                  <td class="col-3">
                    名稱
                  </td>
                  <td class="col-4" id="userName">
                  </td>
                </tr>
                <!-- <tr class="edit-data" style="display:none">
                  <td><input name="name" value="egg" /></td>
                </tr> -->
                <tr>
                  <td class="col-3">
                    生日
                  </td>
                  <td class="col-4" id="userBirthday">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    性別
                  </td>
                  <td class="col-4" id="userGender">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                      身高
                  </td>
                  <td class="col-4" id="userHeight">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    體重
                  </td>
                  <td class="col-4" id="userWeight">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    日常活動量
                  </td>
                  <td class="col-4" id="userActivity">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    TDEE
                  </td>
                  <td class="col-4" id="userTDEE">
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="section-title mt-4">
            <h5 class="text-color">設定目標</h5>
            <!-- <a id="edit-nutrition-goal"><p class="text-secondary">Edit</p></a> -->
            <i id="edit-nutrition-goal" class="fa-regular fa-pen-to-square"></i>
          </div>

          <hr class="mt-0 mb-4">
          <div class="row pt-1">
            <div class="col-7 mb-3">
              <table>
                <tr>
                  <td class="col-3">
                    體態目標
                  </td>
                  <td class="col-4" id="dietGoal">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    熱量
                  </td>
                  <td class="col-4" id="goalCalories">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    碳水化合物
                  </td>
                  <td class="col-4" id="goalCarbs">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    蛋白質
                  </td>
                  <td class="col-4" id="goalProtein">
                  </td>
                </tr>
                <tr>
                  <td class="col-3">
                    脂肪
                  </td>
                  <td class="col-4" id="goalFat">
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-5 mb-3" id="nutririon-input" style="display:none">
              <div class="row pt-1">
                <div class="form-group row">
                  <div class="col-6 text-secondary mb-4">熱量</div>
                  <div class="col-6">
                    <input id="calories" type="number" min="800" class="form-control form-control-sm" placeholder="kcal" />
                  </div>
                  <div class="col-6 text-secondary mb-4">碳水化合物</div>
                  <div class="col-6">
                    <input id="carbs" type="number" min="0" max="100" class="form-control form-control-sm" placeholder="%" />
                  </div>
                  <div class="col-6 text-secondary mb-4">蛋白質</div>
                  <div class="col-6">
                    <input id="protein" type="number" min="0" max="100" class="form-control form-control-sm" placeholder="%" />
                  </div>
                  <div class="col-6 text-secondary mb-4">脂肪</div>
                  <div class="col-6">
                    <input id="fat" type="number" min="0" max="100" class="form-control form-control-sm" placeholder="%" />
                  </div>
                  <div class="col-6 text-secondary mb-4"></div>
                  <div class="col-6"><button type="button" class="btn-sm form-control btn-outline-secondary" id="submit_nutritionInfo">完成修改</button></div>
                  </div>
            </div>
          </div>
          <!-- <hr class="mt-0 mb-4"> -->
        </div>
      </div>
    </section>
    
    <div class="pop-background"></div>
    <div class="pop-window">
      <div class="pop-content">
        <form style="width: 23rem;">
          
          <h5 class="text-secondary mb-4" style="display:flex; justify-content:center">修改個人檔案</h5>
          
            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">名稱</div>
              <div class="col-8">
                <input type="text" id="name" class="form-control form-control-sm" onblur="checkUsername()"/>
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">生日</div>
              <div class="col-8">
                <input type="date" id="birthday" class="form-control col-4" placeholder="YYYY-MM-DD" />
            </div>
          </div>


            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">性別</div>
              <div class="col-8">
                <select class="btn-sm btn-secondary" id="gender">
                  <option value="1">生理女</option>
                  <option value="2">生理男</option>
                </select>
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">身高</div>
              <div class="col-8">
                <input type="number" min="120" max="220" id="height" class="form-control form-control-sm" />
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">體重</div>
              <div class="col-8">
                <input min="30" max="200" type="number" id="weight" class="form-control form-control-sm" />
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-4 text-secondary">日常活動量</div>
              <div class="col-8">
                <select class="btn-sm btn-secondary" id="activity_level">
                  <option value="1">久坐(一週運動頻率需近於0)</option>
                  <option value="2">輕度活動量(一週運動1-3次)</option>
                  <option value="3">中度活動量(一週運動3-5次)</option>
                  <option value="4">高度活動量(一週運動6-7次)</option>
                  <option value="5">非常高度活動量(無時無刻都在動)</option>
                </select>
            </div>
          </div>

          <div class="form-group row mt-3">
            <div class="col-4 text-secondary">體態目標</div>
            <div class="col-8">
              <select class="btn-sm btn-secondary" id="diet_goal">
                <option value="1">減脂</option>
                <option value="2">維持</option>
                <option value="3">增肌</option>
              </select>
          </div>
        </div>
        
        </form>
        <div class="mt-5" style="display:flex; justify-content:center">
        <button type="button" class="btn-sm btn-outline-secondary col-4" id="submit_userInfo">完成修改</button></div>
      </div>
    </div>
  </main>

<div class="footer-dark">
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 item">
                <h3>關於我們</h3>
                <ul>
                    <li><a target="_blank" href="https://school.appworks.tw/">從何發跡</a></li>
                    <li><a target="_blank" href="/privacy.html">隱私政策</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h3>參考資料</h3>
                <ul>
                    <li><a target="_blank" href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178&rand=1470733090">食品藥物管理署</a></li>
                    <li><a target="_blank" href="https://www.peeta.tw/">Peeta Fitness</a></li>
                </ul>
            </div>
            <div class="col-md-4 item text">
                <h3>進一步了解 BUFA FOOD</h3>
                <a href="mailto:shin180555@gmail.com" class="link">聯絡信箱：shin180555@gmail.com</a>
            </div>
        </div>
        <p class="copyright">BUFA FOOD © 2022</p>
    </div>
</footer>
</div>
<script>

async function upload() {
    const formData = new FormData(form)
    // console.log('formData: ', formData)
    const data = await axios.patch(`/api/1.0/user/profile/image/${userId}`, formData, { headers: { Authorization: `Bearer ${accessToken}` } })
    if (data.data.message) {
      Swal.fire({
        icon: 'seccess',
        text: '上傳成功'
      }).then(() => {
        window.location.href = 'profile.html'
      })
    } else {
      Swal.fire({
        icon: 'error',
        text: '上傳失敗，請再試一次'
      }).then(() => {
        window.location.href = 'profile.html'
      })
    }
  }

</script>
<script src="/javascripts/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</body>
</html>
