<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #4D555E;" class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">食物庫</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">我的食物</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="active" href="#"><img src="/icons/member-mobile.png"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="d-flex flex-nowrap">
  <div class="flex-shrink-0 p-3 sidebar-custom" style="width: 13EM;">
    <div class="sidebar">
      <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="#services"><i class="fa fa-fw fa-wrench"></i> Profile</a>
      <a href="#clients"><i class="fa fa-fw fa-user"></i> Diary</a>
      <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Footprint</a>
    </div>
  </div>
  
  <div class="container col-6">
    <div>
      <h3 class="text-center text-secondary mt-3 mb-3">搜尋食物🔍</h3>
      <input type="text" id="autocomplete_search" class="form-control form-control-lg" placeholder="Type food Name Here" style="margin: 30px 0px;" />
      <span id="search_result"></span>
    </div>
    <h4 class="text-secondary mt-3 mb-3">近期熱搜🔥</h4>
    <div id="food_trend" style="margin: 30px 0px; display: flex; flex-wrap:wrap; justify-content: space-around;">
    </div>
    <h4 class="text-secondary mt-3 mb-3">猜你喜歡</h4>
    <div id="guess_user_preference">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>BUFA FOOD</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>

  <script>
  
  /* 熱門食物排行榜top 5 */
  const foodTrendElement = document.getElementById('food_trend')
  async function getFoodTrendInfo() {
    const foodTrendInfo = await axios.get(`http://${location.host}/api/1.0/food/trend`)
    // console.log('foodTrendInfo', foodTrendInfo);
    const foodTrend = foodTrendInfo.data.trendFood
    foodTrend.map(food =>
      foodTrendElement.innerHTML += `<a href="#" class="btn btn-outline-secondary">${food}</a>`
    )
  } 
  getFoodTrendInfo()

  /* 猜你喜歡的三樣食物 */
  const guessUserElement = document.getElementById('guess_user_preference')
  async function getUserRecommendation(currentUserId) {
    const foodRecommenInfo = await axios.get(`http://${location.host}/api/1.0/food/recommend?currentUserId=${currentUserId}`)
    // console.log('foodRecommenInfo', foodRecommenInfo);
    const foodRecommendation = foodRecommenInfo.data.recommendFood
    foodRecommendation.map(recommendation =>
    guessUserElement.innerHTML += `<div style="width: max;height: 70px; border: 3px #84887B solid; margin: 20px 0px;"><p>${recommendation}</p>`
    )
  } 
  getUserRecommendation()

  function load_data(query) {
    fetch(`/api/1.0/food/search?key=${query}`)
    .then(function(response){
      return response.json();
    })
    .then(function(responseData){
      let html = '<ul class="list-group">';
      const len = responseData.length;
      if(len > 0) {
        for(let i = 0; i < len; i++) {
          // RegExp 物件被用來比對符合自訂規則的文字
          let regular_expression = new RegExp(`(${query})`);
          // span 中的$1表示搜尋的關鍵字
          html += `<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">${responseData[i].name.replace(regular_expression, '<span class="text-secondary fw-bold">$1</span>')}</a>`;

          }
      } else {
        html += '<a href="#" class="list-group-item list-group-item-action disabled">No Data Found</a>';
      }
      html += '</ul>';
      document.getElementById('search_result').innerHTML = html;
    });
  }
  
  let search_element = document.getElementById("autocomplete_search");
  
  // 追蹤使用者輸入的字元，並執行query
  search_element.onkeyup = function(){
    let query = search_element.value;
    load_data(query);
  };
  
  // // 使用者初次點選input便產生推薦項
  // search_element.onfocus = function(){
  //   let query = search_element.value;
  //   load_data(query);
  // };
  
  function get_text(event) {
    // console.log('event', event);
    let food_name = event.textContent;
    console.log(food_name);
    document.getElementById('autocomplete_search').value = food_name;
    document.getElementById('search_result').innerHTML = '';
  }
  
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
</body>
</html>
