<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>BUFA FOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/diary.css">
    <link href="/icons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://kit.fontawesome.com/9d89bb6e53.js" crossorigin="anonymous"></script>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <nav style="background-color: #495464;" class="navbar navbar-expand-xl navbar-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html"><img src="/images/bufafood_logo.png" class="brand-logo">  BUFA FOOD | 不發福</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 把div的 class="collapse navbar-collapse justify-content-md-end" 拿掉，就可以達到置右對齊了 -->
      <div id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/search.html">食物庫</a>
          </li>
          <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mine.html">我的食物</a>
          </li>
          <li>
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item" id="nav-profile-change">
            <a id="profile-icon" class="active" href="/profile.html"><img src="/icons/member-mobile.png"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <main class="d-flex flex-nowrap container-color">
    <div class="flex-shrink-0 p-3 sidebar-custom sidebar-color" style="width: 13EM;">
      <div class="sidebar mt-5">
        <a href="/index.html">Home</a>
        <a href="/profile.html">Profile</a>
        <a href="/diary.html">Diary</a>
        <a href="/footprint.html">Footprint</a>
      </div>
    </div>
  
  <div style="border: 2px #4D555E solid; border-radius: 1em;" class="container col-lg-6 p-3 mt-5 mb-5">
    <form id="bodyInfo">
      <div class="container text-secondary">
        <h4 style="color: #7BB08A; display: flex; justify-content: center;">About you</h4>
        <p class="mt-3 text-secondary p-2">填寫步驟：<br>1. 輸入身材基本資訊 <br>2. 按下"計算"按鈕計算TDEE(每日總熱量消耗)<br> 3. 選擇體態目標計算熱量以及營養素目標<br> 4. 按下完成送出</p>
        <div class="row g-3 mt-4">
          <div class="col-6 col-sm-3">身高體重</div>
          <div class="col">
             <input required="required" type="number" min="120" max="220" class="form-control" placeholder="cm" aria-label="height" id="height">
          </div>
          <div class="col">
             <input required="required" type="number" min="30" max="200" class="form-control" placeholder="kg" aria-label="weight" id="weight">
          </div>
        </div>
      
        <div class="row g-3 mt-4">
          <div class="col-6 col-sm-3">性別</div>
          <div id="gender-group" class="btn-group col" role="group" aria-label="gender toggle button group">
             <input type="radio" class="btn-check" name="btngender" id="btn_female" value="1" autocomplete="off" onclick="genderVal(this)">
            <label class="btn btn-outline-secondary" for="btn_female">生理女</label>
            <input type="radio" class="btn-check" name="btngender" id="btn_male" value="2" autocomplete="off" onclick="genderVal(this)">
            <label class="btn btn-outline-secondary" for="btn_male">生理男</label>
          </div>
        </div>
        
        <div class="row g-3 mt-4">
          <div class="col-6 col-sm-3">生日</div>
          <div class="col">
             <input required="required" type="date" id="datepicker" class="form-control col-4 datepicker text-secondary" placeholder="YYYY-MM-DD" />
          </div>
        </div>

        <div class="row g-3 mt-4">
          <div class="col-6 col-sm-3">日常活動量</div>
          <div class="dropdown col-4">
            <select class="btn btn-secondary" id="dropdownMenuButton2">
              <option selected>請選擇</option>
              <option value="1">久坐(一週運動頻率需近於0)</option>
              <option value="2">輕度活動量(一週運動1-3次)</option>
              <option value="3">中度活動量(一週運動3-5次)</option>
              <option value="4">高度活動量(一週運動6-7次)</option>
              <option value="5">非常高度活動量(無時無刻都在動)</option>
            </select>  
          </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">TDEE</div>
        <div class="col-6">
           <input disabled type="text" class="form-control" placeholder="result" aria-label="TDEE" id="TDEE">
        </div>
        <div class="col">
          <button class="btn btn-outline-secondary form-control" type="button" id="btn_calculateTDEE">計算</button>
        </div>
      </div>
      <!-- <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">飲食習慣</div>
        <div class="btn-group" role="group" aria-label="diet preference toggle button group">
          <input type="radio" class="btn-check" name="btndiet" id="btn_anything" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btn_anything">葷食</label>
        
          <input type="radio" class="btn-check" name="btndiet" id="btn_lectoVeg" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btn_lectoVeg">蛋奶素</label>
        
          <input type="radio" class="btn-check" name="btndiet" id="btn_Veg" autocomplete="off">
          <label class="btn btn-outline-secondary" for="btn_Veg">全素</label>
        </div>
      </div> -->

      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">體態目標</div>
        <div class="col-9 btn-group" role="group" aria-label="diet goal toggle button group">
          <input type="radio" class="btn-check" name="btngoal" id="btn_lose" autocomplete="off" value="1" onclick="gietGoal(this)">
          <label class="btn btn-outline-secondary" for="btn_lose">減脂</label>
        
          <input type="radio" class="btn-check" name="btngoal" id="btn_maintain" autocomplete="off" value="2" onclick="gietGoal(this)">
          <label class="btn btn-outline-secondary" for="btn_maintain">維持</label>
        
          <input type="radio" class="btn-check" name="btngoal" id="btn_bulk" autocomplete="off" value="3" onclick="gietGoal(this)">
          <label class="btn btn-outline-secondary" for="btn_bulk">增肌</label>
        </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">熱量目標</div>
        <div class="col">
           <input disabled type="text" class="form-control" placeholder="kcal" aria-label="target calories" id="goal_calories">
        </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">營養素目標</div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">碳水化合物</div>
        <div class="col">
           <input disabled type="text" class="form-control" placeholder="g" aria-label="target carbs"  id="goal_carbs">
        </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">蛋白質</div>
        <div class="col">
           <input disabled type="text" class="form-control" placeholder="g" aria-label="target protein" id="goal_protein">
        </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3">脂肪</div>
        <div class="col">
           <input disabled type="text" class="form-control" placeholder="g" aria-label="target fat" id="goal_fat">
        </div>
      </div>
      <div class="row g-3 mt-4">
        <div class="col-6 col-sm-3"></div>
        <div class="col-6 mt-2 mb-3">
          <button class="btn btn-outline-secondary form-control" type="button" id="btn_submit">完成！</button>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </form>
  </div>
</main>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>BUFA FOOD</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
          </div>
          <p class="copyright">BUFA FOOD © 2022</p>
      </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script src="/javascripts/target.js"></script>
</body>
</html>
