.entry-gif{
  width: 400px;
  display:block;
  margin: auto;
}

.entry-div {
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
}

.text-box-left-1{
  height: 40px;
  width: 230px;
  background-color: #7BB08A;
  color: ghostwhite;
  border-radius: 20px;
  position: relative;
  margin: 50px 0 15px 0;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  animation: text-box-left 1s 1;
}

.text-box-left-1:after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border: 10px transparent solid;
  border-top-color: #7BB08A;
  border-left-color: #7BB08A;
  transform: translateX(-500%);
  opacity: 0.8;
}

.text-box-left-2{
  height: 40px;
  width: 320px;
  background-color: #7BB08A;
  color: ghostwhite;
  border-radius: 20px;
  position: relative;
  margin: 25px 0;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  animation: text-box-left 1s 1;
}

.text-box-left-2:after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border: 10px transparent solid;
  border-top-color: #7BB08A;
  border-left-color: #7BB08A;
  transform: translateX(-710%);
  opacity: 0.8;
}

@keyframes text-box-left{
  0%{
    opacity: 0;
    }
    100%{ 
    opacity: 0.8;
    }
}

.text-box-right-1{
  height: 40px;
  width: 140px;
  background-color: #bab6b6;
  color: ghostwhite;
  opacity: 0.8;
  border-radius: 20px;
  position: relative;
  margin: 10px 0;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: end;
  animation: text-box-left 1s 1;
}

.text-box-right-1:after{
  content: "";
  position: absolute;
  bottom: -10px;
  right: 50%;
  border: 10px transparent solid;
  border-top-color: #bab6b6;
  border-right-color: #bab6b6;
  transform: translateX(280%);
  opacity: 0.8;
}

.text-box-right-2{
  height: 40px;
  width: 200px;
  background-color: #bab6b6;
  color: ghostwhite;
  opacity: 0.8;
  border-radius: 20px;
  position: relative;
  margin: 10px 0;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: end;
  animation: text-box-left 1s 1;
}

.text-box-right-2:after{
  content: "";
  position: absolute;
  bottom: -10px;
  right: 50%;
  border: 10px transparent solid;
  border-top-color: #bab6b6;
  border-right-color: #bab6b6;
  transform: translateX(450%);
  opacity: 0.8;
}

.right-box{
  margin: 15px 0;
  display: flex; 
  justify-content:end
}