.pop-background{
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:3;
  top:0;
  left:0;
  opacity:0.7;
}

.pop-window{
  display:none;
  border-radius: 1em;
  width:600px;
  height:570px;
  position:fixed;
  top:25%;
  margin-top:-50px; 
  background:ghostwhite;
  z-index:4;
  left:50%;
  margin-left:-250px;
  padding: 2rem 6rem;
}

.pop-content{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
  align-content: center;
}

#search_result{
  position: absolute;
  width: 30rem;
  z-index: 2;
}

#add_food:hover{
  color: #7BB08A;
}